.promo {
    opacity: 0.9;
    background: url('../../../../assets/promo-backgraund.jpg'), lightgray 0% 0% / 100px 100px repeat;
    mix-blend-mode: soft-light;
    padding: 70px 0;
    margin: 70px 0;
}

.wrapperContent {
    grid-column: 1/6 span;
}

.titleWrapper {
    display: flex;
    gap:20px
}

.promoTitle {
    color: #F4F6F5;
    font-size: 40px;
    font-weight: 500;
    line-height: 100%; /* 40px */
}

.promoTextWrapper {
    margin: 20px 0 60px 0;
}

.promoText {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.promoButton {
    border: 1px solid #EEDB6D;
    background: #EEDB6D;
    padding: 20px 60px;
    cursor: pointer;
    color: #2C2D35;;
    font-size: 20px;
    font-weight: 500;
}

.promoButton:hover {
    background: #FAEB97;
}

