.OurTeam {
   padding: 70px 0;
    position: relative;
}


.imageWrapper {
    grid-column: 1/5 span;
    position: absolute;
    bottom: 80px;
}

.armImage {
    grid-column: 1/5 span;
}

.textWrapper {
    grid-column: 6/7 span;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 44px 0;
}

.frameTitle {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%; /* 44px */
}

.text {
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.avatarWrapper {
    display: flex;
    gap: 30px;
}
