.container {
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
}
.heroImage{
    grid-column: 6 span
}
.textWrapper{
    grid-column: 7/6 span;
align-self: center;
}

.title{
    margin: 0;
    white-space: break-spaces;
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
}

.titleSpan{
    color: #598D66;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
}
.text{
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
